.h1{
	text-align:center;
}
ul{
	list-style:none;
}
.links{
	text-decoration:none;
}
.player_one{
	background-color: rgb(255 255 255);
	padding:10px;
	border-radius:5px;
}
.player_two{
	background-color: rgb(255 255 255);
	padding:10px;
	border-radius:5px;
	
}
body{
	background-color:rgb(204 204 204);
}
