/*  your css code here. If applicable */
*{
	margin:0px; 
}
.player_two
{
	padding-left:150px;
}
.h1{
	text-align:center
}
h2{
	text-align:center
}
h3{
	text-align:center
}
.bg
{
background-color:#cccccc;
}
