/*  your css code here. If applicable */
body{
	background-color:rgb(204, 204, 204);
	text-align:center;
}
h1,h2{
	text-align: center;
}
li{
	list-style-type:none;
}
a{
	text-decoration-line: none;
}

.player_two{
	background-color: rgb(255, 255, 255); 
	padding:10px;
	border-radius:10px;
   
    padding: 5px;
	margin:5px;
	
}
.player_one{
	background-color: rgb(255, 255, 255); 
	padding:10px;
	border-radius:10px;
    width: 50%;
    padding: 5px;
	margin:5px;
}
.player{
    display:flex;
    width: 100%;
    border-radius: 10px;
}